.venv/
__pycache__/
*.pyc
.ufbt/
build/
*.o
*.so
*.dylib
*.save
.DS_Store
.vscode/
dist/debug/
dist/portable/
dist/*.img
dist/*.zip
portable/native/ccleste.html
portable/native/ccleste-win.zip
output/
dist/Celeste-Flipper/
